*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    margin: 1rem;
    border-bottom: solid orange;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}

/* here it was a main{} */

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #674d1fd2;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 15px yellow;
    padding: 1rem;
    background-color: #eee;
    color: #3f4145;
}

main img{
    float: right;
}

aside h2{
    position: absolute;
    top: 40px;
    right: 110px;
    color: white;

}

li{
    color: orange;
    text-decoration: none;
} 

.indent{
    padding-left: 2em;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;

}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: ghostwhite;
    font-weight: 500;


}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

aside{ 
    width: 20rem;
    position: relative;
    grid-column: 1 / 2; 
    grid-row: 1 /2 ; 
}
